name: publish pyproject_aliases

on:
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      target:
        description: "Deployment target environment"
        required: true
        default: "testpypi"

concurrency:
  group: "publish-${{ github.ref }}"
  cancel-in-progress: false

jobs:
  run-tests:
    uses: ./.github/workflows/reusable-test.yml

  verify-tests:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: run-tests
    steps:
      - run: exit 1
        if: ${{ contains(toJSON(needs.*.result), 'failure') || contains(toJSON(needs.*.result), 'cancelled') }}

  deploy:
    needs: [verify-tests]
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.event.inputs.target || 'pypi' }}
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          python-version: "3.11"
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: install dependencies
        run: |
          uv sync --locked

      - name: build package
        run: |
          uv build

      - name: "publish package (index: ${{ github.event.inputs.target || 'pypi' }})"
        env:
          UV_PUBLISH_INDEX: ${{ github.event.inputs.target || 'pypi' }}
        run: |
          uv publish --trusted-publishing always
